* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #c2c3c5;
}

form {
    background:whitesmoke;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 4px 20px rgb(0, 0, 0);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 34px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: normal;
}

.checkbox-group input {
    margin-right: 10px;
}

button {
    background: #007bff;
    color: #fff;
    padding: 10px 20px; 
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 5px; 
    border: none;
}

button:hover {
    background: #0d3056;
}

button:active{
    background: #c10000;
}


#result {
    margin-top: 20px;
    font-size: 30px; /* Adjust font size if needed */
    border-radius: 12px;
    padding: 10px;
    background-color: rgb(75, 171, 75);
    color: #333;
    font-weight: bold;
    word-wrap: break-word; /* Ensure long text wraps within the container */
    text-align: center; /* Center align the text */
}
