
body{
    margin:0;
}
#myBox{
    background-color: aqua;
    width : 200px;
    height: 200px;
    font-size: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}