.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider img{
    width :100%;
    display: none;
}

img.displaySlide{
    display:block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider button{
    position: absolute;
    top:50%;
    padding: 10px 15px ;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.34);
    color: white;
    border: none;
    cursor: pointer;

}

.previous{
    left:0;
}
.next{
    right:0;
}

@keyframes fade {
    from{opacity: .5}

    to{opacity: 1}
}